@{
    ViewData["Title"] = "Change Password";
}

@section Styles {
    <link rel="stylesheet" href="~/css/change-password.css" asp-append-version="true" />
}

<div class="container">
    <div class="change-left-side">
        <h2>Change Password</h2>
        <p>Please enter your old password and set a new one.</p>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="error-message">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p style="margin:0">@error.ErrorMessage</p>
                }
            </div>
        }

        <form method="post" asp-action="ChangePassword" asp-controller="User">
            <input type="hidden" name="id" value="@Model.UserId" />

            <input type="password" name="oldPassword" required placeholder="Old Password" />
            <input type="password" name="newPassword" required placeholder="New Password" />
            <input type="password" name="repeatedPassword" required placeholder="Repeat New Password" />

            <button type="submit">Change Password</button>
        </form>
    </div>
</div>
